[user]
	name = Seth Doty
	email = seth.doty@objectpartners.com
[init]
	templateDir = /Users/sethdoty/.git-template
[core]
	excludesfile = /Users/sethdoty/.gitignore_global
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
