""" Map leader to space ---------------------
let mapleader=" "
" Copy to system clipboard as well
set clipboard+=unnamed
""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister
set which-key
" disable the timeout option
set notimeout
Plug 'tpope/vim-surround'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" EasyMotion ------------------------
set easymotion
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)

""" nerdtree ------------------------
Plug 'preservim/nerdtree`
map <c-t>   :NERDTree<CR>

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
" Map \r to the Reformat Code action
:map \r <Action>(ReformatCode)

" Map <leader>d to start debug
:map <leader>d <Action>(Debug)

" Map \b to toggle the breakpoint on the current line
:map \b <Action>(ToggleLineBreakpoint)

"""Terminal
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

""" Window Management --------------------------------
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h>
nnoremap <c-l>
nnoremap <c-j>
nnoremap <c-k>
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

""" Movement --------------------------------
set incsearch
nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-o> :action GotoSymbol<CR>

""" Git --------------------------------
nmap <leader>gb :action Git.Branches<cr>
nmap <leader>gp :action Git.Pull<cr>
nmap <leader>gu :action Git.Push<cr>
nmap <leader>gr :action Git.Rebase<cr>
nmap <leader>gm :action Git.Merge<cr>

" VCS operations --------------------------------
nmap <leader>vy :action Vcs.Show.Local.Changes<cr>
nmap <leader>vp :action Vcs.QuickListPopupAction<cr>
nmap <leader>va :action Annotate<cr>
nmap <leader>vl :action Vcs.Show.Log<cr>
nmap <leader>vd :action Compare.LastVersion<cr>
nmap <leader>vP :action Git.Pull<cr>
nmap <leader>vr :action Git.ResolveConflicts<cr>
nmap <leader>vo :action Github.Open.In.Browser<cr>
map <leader>vh <Action>(Vcs.ShowTabbedFileHistory)